@font-face {
    font-family: 'Brittany';
    src: url('fonts/BrittanySignature.ttf') format('truetype');
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f8f2ea;
    min-height:100vh;
    overflow-x:hidden;
}

.portada{
    width:100%;
    min-height:100vh;
    position:relative;
}

.nombre{
    position:absolute;
    z-index: 4;
    font-family: 'Brittany';
    font-size:4rem;
    color:#345a96;
    opacity:0;
}

.nombre1{
    top:150px;
    left:50%;
    transform:translateX(-50%);
    animation:aparecer 1s forwards;
}

.nombre2{
    top:230px;
    right:33.5%;
    animation:aparecer 1s forwards;
    animation-delay:1.2s;
}

.ampersand{
    position:absolute;
    z-index: 3;
    top:235px;
    left:56%;
    transform:translateX(-50%) rotate(15deg);
    width:90px;
    height:90px;
    border-radius:50%;
    background:#a8c3e7;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:3rem;
    color:white;
    opacity:0;
    animation:aparecer 1s forwards;
    animation-delay:.6s;
}

.foto-marco{
    width:280px;
    height:360px;
    background:white;
    position:absolute;
    z-index: 1;

    top:250px;
    left:50%;
    transform:translateX(-50%) rotate(-8deg);
    box-shadow:0 10px 25px rgba(0,0,0,.15);

    display:flex;
    justify-content:center;
    align-items:center;

    opacity:0;

    animation:aparecer 1s forwards;
    animation-delay:1.8s;
}

@keyframes aparecer{

    from{
        opacity:0;
        transform:translateY(25px);
    }

    to{
        opacity:1;
    }
}
.mono{
    position:absolute;
    top: -200px;
    right:120px;
    width:420px;

    transform: rotate(75deg);

    opacity:0;
    animation:aparecer 1s forwards;
    animation-delay:3s;
}
.flores-izquierda{
    position:absolute;
    top:180px;
    left:500px;
    width:180px;
    z-index: 5;

    opacity:0;
    animation:aparecer 1s forwards;
    animation-delay:2.2s;
}

.flores-derecha{
    position:absolute;
    top:470px;
    right:500px;
    width:180px;
    z-index: 5;

    opacity:0;
    animation:aparecer 1s forwards;
    animation-delay:2.6s;
}
.foto{
    width:100%;
    height:100%;
    object-fit:cover;
    padding:8px;
    background:white;
}
.historia{
    width:100%;
    min-height:100vh;

    background:#89AEEB;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:40px;
}

.historia-texto{
    max-width:700px;
    text-align:center;
}

.historia-texto p{
    color:white;
    font-size:1.6rem;
    line-height:1.8;
    letter-spacing:1px;
    font-weight:300;
}

.corazon{
    color:white;
    font-size:3.5rem;
    margin-top:10px;
}
/* =========================
   PAGINA FAMILIA
========================= */

.familia{
    min-height:100vh;
    background:#f8f2ea;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:80px 20px;
}

.familia-contenido{
    width:80%;
    max-width:700px;
    padding:80px 70px;
    text-align:center;
    position:relative;
    background:rgba(255,255,255,0.25);
    border-left:3.5px solid #c7ccd8;
     border-right:3.5px solid #c7ccd8;
}

/* Línea superior */

.familia-contenido::before{
    content:"";
    position:absolute;
    top:25px;
    left:80px;
    right:80px;
    height:3.5px;
    background:#cfd4de;
}
.linea-inferior{
    position:absolute;
    bottom:25px;
    left:80px;
    right:80px;
    height:3.5px;
    background:#cfd4de;
}

/* Línea vertical izquierda */

.familia-contenido::after{
    content:"";
    position:absolute;
    top:80px;
    bottom:80px;
    left:35px;
    width:3.5px;
    background:#cfd4de;
}

/* Línea vertical derecha */

.linea-derecha{
    position:absolute;
    top:80px;
    bottom:80px;
    right:35px;
    width:3.5px;
    background:#cfd4de;
}

/* Título principal */

.familia h2{
    color:#4b6698;
    font-size:1.8rem;
    letter-spacing:8px;
    line-height:1.6;
    font-weight:normal;
    text-transform:uppercase;
    margin-bottom:70px;
}

/* Subtítulos */

.familia h3{
    font-family:'Brittany';
    font-size:3.4rem;
    color:#345a96;
    font-weight:normal;
    margin-top:50px;
    margin-bottom:25px;
}

/* Nombres */

.familia p{
    color:#4b6698;
    font-size:1rem;
    letter-spacing:5px;
    line-height:2;
    text-transform:uppercase;
    margin-bottom:55px;
}

/* Decoración floral */

.ramita{
    position:absolute;
    z-index: 10;
    width:600px;
    left:-190px;
    top:220px;
    opacity:0.65;
}
/* =========================
   PAGINA EVENTO
========================= */

.evento{
    position: relative;
    min-height:100vh;
    background:#f8f2ea;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:80px 20px;
}

.evento-contenido{
    width:90%;
    max-width:700px;
    text-align:center;
}

.evento-intro{
    color:#4b6698;
    font-size:1.2rem;
    letter-spacing:2px;
    margin-bottom:20px;
}

.evento-titulo{
    font-family:'Brittany';
    color:#345a96;
    font-size:4rem;
    font-weight:normal;
    margin-bottom:10px;
}

.evento-nombres{
    color:#4b6698;
    letter-spacing:4px;
    font-size:1.1rem;
    text-transform:uppercase;
    margin-bottom:40px;
}

.imagen-evento{
    width:360px;
    height: auto;
   display: block;
    margin:20px auto 40px;
}


.evento h3{
    font-family:'Brittany';
    color:#345a96;
    font-size:3rem;
    font-weight:normal;
    margin:20px 0;
}

.evento-info{
    color:#4b6698;
    letter-spacing:3px;
    line-height:2;
    text-transform:uppercase;
    margin-bottom:40px;
}


.adorno-evento{
    text-align:center;
    font-size:2.5rem;
    color:#7b9fd4;
    margin:30px 0;
    letter-spacing:8px;
}
.evento-card{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;

    max-width:650px;
    margin:0px auto;

    padding:20px 30px;
    background:rgba(255,255,255,0.35);

    border-radius:25px;
    position: relative;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0,8);
}
.evento-card::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:6px;
    background:#8cb0dd;
    border-radius:25px 25px 0 0;
 
}
.icono-evento{
    width:150px;
    height:auto;
    flex-shrink:0;
}

.evento-texto{
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.evento-texto h3{
    font-family:'Brittany';
    color:#345a96;
    font-size:3.2rem;
    font-weight:normal;
    margin:0 0 20px;
}

.evento-hora{
    margin-top:10px;
    color:#4b6698;
    letter-spacing:4px;
}
.separador-floral{
    text-align:center;
    margin:5px 0;
}

.separador-floral img{
    width:380px;
    height:auto;
    opacity:0.9;
}
.adorno-superior{
    text-align:center;
    margin:5px 0;
}

.adorno-superior img{
    width:380px;
    height:auto;
    opacity:0.9;
}
.flor-izquierda{
    position:absolute;
    left:20px;
    top:250px;
    width:650px;
    opacity:0.75;
    z-index:0;
}

.flor-derecha{
    position:absolute;
    right:20px;
    top:900px;
    width:650px;
    opacity:0.75;
    z-index:0;
}
/* =========================
   PROGRAMA
========================= */

.programa{
    background:#f8f2ea;
    padding:100px 20px;
    text-align:center;
}

.programa-titulo{
    color:#3558a8;
    font-size:3rem;
    letter-spacing:6px;
    margin-bottom:60px;
}

.timeline{
    position:relative;
    max-width:450px;
    margin:auto;
}

.timeline::before{
    content:'';
    position:absolute;
    left:50%;
    top:0;
    width:4px;
    height:100%;
    background:#3558a8;
    transform:translateX(-50%);
}

.timeline-item{
    width:50%;
    position:relative;
    margin-bottom:40px;
}

.izquierda{
    left:0;
    text-align:right;
    padding-right:10px;
}

.derecha{
    left:50%;
    text-align:left;
    padding-left:10px;
}

.timeline-item::after{
    content:'';
    width:16px;
    height:16px;
    background:#3558a8;
    border-radius:50%;
    position:absolute;
    top:25px;
}

.izquierda::after{
    right:-8px;
}

.derecha::after{
    left:-8px;
}

.timeline-icono{
    width:120px;
    height: auto;
    margin-bottom:-10px;
    
}

.timeline-texto h3{
    color:#3558a8;
    margin:0;
    font-size:1.2rem;
}

.hora{
    display:block;
    color:#3558a8;
    font-weight:bold;
    font-size: 1.1rem;
    margin-bottom:10px;
}
.mesa-regalos{
    padding: 30px 20px;
    display: flex;
    justify-content: center;
}

.regalo-card{
    background: #6f93dd;
    max-width: 650px;
    padding: 20px 40px 20px;
    border-radius: 0 0 20px 20px;
    clip-path: polygon(
        50% 0%,
        100% 20%,
        100% 100%,
        0% 100%,
        0% 20%
    );
    text-align: center;
    color: white;
}

.regalo-titulo{
    font-size: 3rem;
    margin-bottom: 40px;
    font-family: "Great Vibes", cursive;
}

.regalo-texto{
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.regalo-iconos{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.regalo-iconos img{
    width: 120px;
    height: auto;
}
/* SEPARADOR */

.separador{
    display: flex;
    text-align:center;
    margin:0;
}

.separador img{
    width:700px;
    max-width:80%;
    display:block;
    margin:auto;
}

/* CONFIRMACION */

.confirmacion{
    text-align:center;
    padding:20px;
}

.titulo-confirmacion{
    color:#3558a8;
    font-size:2.5rem;
    letter-spacing:6px;
    margin-bottom:25px;
}

.texto-confirmacion{
    color:#666;
    font-size:1.1rem;
    margin-bottom:35px;
}

.btn-confirmar{
    display:inline-block;
    background:#3558a8;
    color:white;
    text-decoration:none;
    padding:15px 40px;
    border-radius:40px;
    font-weight:bold;
    transition:.3s;
}

.btn-confirmar:hover{
    transform:translateY(-3px);
}
.separador-final{
    display:flex;
    justify-content:center;
    margin:20px 0 20px;
}

.separador-final img{
    width:700px;
    max-width:80%;
}

.despedida{
    text-align:center;
    padding-bottom:80px;
}

.despedida h2{
    color:#3558a8;
    font-size:2rem;
    letter-spacing:8px;
    font-weight:normal;
    margin-bottom:30px;
}

.iniciales{
    font-family:"Great Vibes", cursive;
    font-size:5rem;
    color:#3558a8;
    line-height:1;
}

.iniciales span{
    font-size:6rem;
    margin:0 10px;
}
.fecha-boda{
    text-align:center;
    color:#3558a8;
    font-size:1.3rem;
    letter-spacing:4px;
    margin:25px 0;
    font-weight:bold;
}

.contador{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-bottom:35px;
}

.tiempo{
    width:90px;
    height:90px;
    background:#3558a8;
    color:white;
    border-radius:15px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.tiempo span{
    font-size:2rem;
    font-weight:bold;
}

.tiempo small{
    font-size:.8rem;
    letter-spacing:2px;
}
.regalo-icono{
    text-align: center;
    margin-bottom: 25px;
}

.regalo-icono img{
    width: 300px;
    height: auto;
}
.musica-portada{
    text-align:center;
    margin-top:60px;
    margin-bottom:-20px;
}

.musica-portada{
    text-align:center;
    margin-top:20px;
    margin-bottom:40px;
}

.titulo-musica{
    color:#3558a8;
    font-size:1rem;
    margin-bottom:15px;
    letter-spacing:2px;
}

.onda-musica{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;
    cursor:pointer;
}

.onda-musica span{
    width:4px;
    background:#3558a8;
    border-radius:10px;
}

.onda-musica span:nth-child(1){height:12px;}
.onda-musica span:nth-child(2){height:22px;}
.onda-musica span:nth-child(3){height:35px;}
.onda-musica span:nth-child(5){height:35px;}
.onda-musica span:nth-child(6){height:22px;}
.onda-musica span:nth-child(7){height:12px;}

.play-btn{
    width:55px;
    height:55px;
    border-radius:50%;
    background:#3558a8;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.4rem;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}
/* =========================
   VERSION MOVIL
========================= */

@media (max-width: 768px){

    .nombre{
        font-size: 3rem;
    }

    .nombre1{
        top: 100px;
        left: 50%;
    }

    .nombre2{
        top: 160px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .ampersand{
        top: 155px;
        left: 50%;
        width: 70px;
        height: 70px;
        font-size: 2rem;
    }

    .foto-marco{
        width: 220px;
        height: 290px;
        top: 220px;
    }

    .mono{
        width: 220px;
        right: -40px;
        top: -40px;
    }

    .flores-izquierda{
        width: 120px;
        left: -20px;
        top: 180px;
    }

    .flores-derecha{
        width: 120px;
        right: -20px;
        top: 420px;
    }

    .historia-texto p{
        font-size: 1.2rem;
        line-height: 1.6;
    }

    .familia-contenido{
        width: 95%;
        padding: 60px 30px;
    }

    .ramita{
        width: 280px;
        left: -120px;
    }

    .evento-titulo{
        font-size: 3rem;
    }

    .evento-card{
        flex-direction: column;
        padding: 30px 20px;
    }

    .icono-evento{
        width: 100px;
    }

    .flor-izquierda,
    .flor-derecha{
        display:none;
    }

    .timeline::before{
        left:20px;
    }

    .timeline-item{
        width:100%;
        left:0;
        text-align:left;
        padding-left:50px;
        padding-right:0;
    }

    .timeline-item::after{
        left:12px !important;
        right:auto;
    }

    .derecha,
    .izquierda{
        left:0;
        text-align:left;
        padding-left:50px;
    }

    .timeline-icono{
        width:90px;
    }

    .regalo-icono img{
        width:180px;
    }

    .regalo-iconos{
        gap:20px;
    }

    .regalo-iconos img{
        width:80px;
    }

    .contador{
        gap:10px;
    }

    .tiempo{
        width:70px;
        height:70px;
    }

    .tiempo span{
        font-size:1.4rem;
    }

    .iniciales{
        font-size:3.5rem;
    }

}